$colors: (
    "bg": #03071e,
    'bg2': #000000,
    'text': #ffffff,
    'text2': #ffffffbf,
    'text3': '#8792B0',
    "green": #70c1b3,
    'blue': #24799e,
    'yellow': #ffe066,
    'pink': #F25F5C,
    'brown': #50514F,
    'ox': #941b0c,
);

/*Animation delay timers*/
:root {
    --delay-logo: 5;
    --delay-links1: 10;
    --delay-links2: 13;
    --delay-links3: 16;
    --delay-links4: 19;
}

//#FF0066